<div id='<%= containerId %>'>
  <span class='icon-back' role='goto-link' href='/savings_congratulations'></span>
  <div class='wrapper'>
    <h1>Almost Done!</h1>
    <div class='wrapper-container'>
      <p class='text-center'>Let's finish up…</p>
      <p class='final-row'>
        <button class='button blue-button' href='http://www.decisionfish.com/retirement-investment/' target='blank'>HOW DESI CHOOSES A RETIREMENT FUND</button>
      </p>

      <p class='final-row'>
        <button class='blue-button' role='share-plan'>SHARE YOUR INVESTMENT PLAN</button>
        <span class='icon ask-desi inline' data-desi='says' data-content="savings_final_share"></span>
      </p>

      <p class='final-row'>
        <button class='blue-button' role='goto-link' href='/ask'>ASK DECISION FISH A QUESTION</button>
      </p>

      <p class='final-row'>
        <button class='blue-button ask-desi' data-modal-title="I'm sorry," data-content="automatic_investments">SET UP AUTOMATIC INVESTMENT</button>
      </p>
      <br/>

      <p class='final-row'>
        <button class='button blue-button' target='blank' href='https://goo.gl/forms/DhZ3pmzNDkmMiWVr2'>TAKE OUR QUICK SURVEY, PLEASE</button>
      </p>

      <br/>
      <br/>
      <br/>

      <p class='text-right'>
        <button class='blue-button' role='goto-link' href='/all_completed'>NEXT</button>
      </p>

    </div>



    <div id="diploma-placeholder" style='opacity: 0;' class='wrapper-container'></div>
  </div>
</div>