<div id='p401-screen'>
  <span class='icon-back' role='goto-link' href='/savings_loans/other_debts'></span>
  <div class='wrapper'>
    <h1>Does Your Employer<br/>Pay You to Save?</h1>
    <div class='wrapper-container'>
      <p>
        Do you work for a company that matches your contributions to a 401(k) program?
        <br/><br/>
        What maximum percentage of your income will the company match?
      </p>
      <div class='panel panel-wide'>
        <div class='form-group'>

          <div class="form-group form-group-horizontal">
            <h3 style='flex-basis: 60%;'></h3>
            <% if (name2) { %>
              <div class='columned'><%= name1 %></div>
              <div class='columned'><%= name2 %></div>
            <% } %>
          </div>

        </div>

        <div class='form-group form-group-horizontal'>
          <label style='flex-basis: 60%;'>
            Percentage of Income
            <span class='icon ask-desi inline' data-desi='says' data-content="savings_p401_income"></span>
          </label>
          <% if (name2) { %>
            <div class='columned'>
              <input type='text' name='p401_percent_income_1'/>
            </div>
            <div class='columned'>
              <input type='text' name='p401_percent_income_2'/>
            </div>
          <% } else { %>
            <input type='text' name='p401_percent_income_1'/>
          <% } %>
        </div>

        <div class='form-group form-group-horizontal'>
          <label style='flex-basis: 60%;'>
            Percentage Matched
            <span class='icon ask-desi inline' data-desi='says' data-content="savings_p401_matched"></span>
          </label>
          <% if (name2) { %>
            <div class='columned'>
              <input type='text' name='p401_percent_match_1'/>
            </div>
            <div class='columned'>
              <input type='text' name='p401_percent_match_2'/>
            </div>
          <% } else { %>
            <input type='text' name='p401_percent_match_1'/>
          <% } %>
        </div>
      </div>

      <p class='wide-row text-right'>
        <button class='blue-button' id='next-btn' role='goto-link' href='/efund'>NEXT</button>
      </p>
    </div>
  </div>

</div>