<div id='savings-plan-month-screen'>
  <span class='icon-back' role='goto-link' href='/savings_plan'></span>
  <div class='wrapper'>
    <h1>
      Let's Create Your<br/>Investment Plan Happen<br/>This Month!
    </h1>
    <div class='wrapper-container'>
      <p class='text-center'>
        Write your checks for the amounts under "This Month's Payment." Good work!
      </p>
      <p class='wide-row'>(If your bill is for a larger amount, pay that amount!)</p>

      <div class='panel panel-wide'>
        <div class='form-group form-group-horizontal'>
          <h3>Debt Repayment<span class='icon ask-desi inline' data-desi='says' data-content='savings_plan_month'></span></h3>

        </div>
        <div class='form-group form-group-horizontal'>
          <h3>
            <span style='flex-basis: 22%;'></span>
            <span style='flex-basis: 34%;' class='columned'>New Charges</span>
            <span style='flex-basis: 34%;' class='columned'>This Month's Payment</span>
          </h3>
        </div>
        <div role='plan-fields'></div>
        <hr/>
        <div class='form-group form-group-horizontal'>
          <label>Total</label>
          <span class='static-number' role='total-amount'></span>
        </div>
      </div>

      <p class='justified-footer wide-row'>
        <button class='blue-button' id='next-btn' role='goto-link' href='/savings_congratulations'>NEXT</button>
      </p>
    </div>
  </div>

</div>