<div id='shark-attack-screen'>
  <span class='icon-back' role='goto-link' href='/savings_401k'></span>
  <div class='wrapper'>
    <h1>Shark Attack!</h1>
    <div class='wrapper-container'>
      <p class='text-center'>
        Let's prepare for the unexpected with an Emergency Fund.
      </p>
      <p>An emergency fund is money you set aside for suprises like medical and repair bills, or if you lose your job. What if you lost your job? How long would it take you to find a new one?</p>
      <div class='panel panel-wide'>

        <div class='efund-area flexed'>
          <div class='efund-bar'>
            <div class='efund-bar-inner'>
              <div class='efund-target-bar'><div class='efund-target-bar-inner'></div></div>
            </div>
          </div>

          <span class='icon ask-desi inline' data-desi='says' data-content="efund"></span>
        </div>

        <div class='text-center'>
          <h3>Goal: <span role='target-months'>0 Months</span> of Expenses</h3>
          <p role='efund-value'>$31,000</p>
        </div>

      </div>

      <div class='img-shark'> </div>

      <p class='wide-row text-right'>
        <button class='blue-button' id='next-btn' role='goto-link' href='/efund_ready'>NEXT</button>
      </p>
    </div>
  </div>

</div>