<h4 class="center">Let&#39;s Decide How Much You can Afford to Spend on a Home</h4>
<br>
<p class="blue_text center"><b>There are two ways to look at it:</b></p>
<ol>
  <li><b>Ask banks what they&#39;ll lend you</b></li>
  <p class="lets_decide_p line_spacing">Calculated to maximize their profits.</p>
  <li><b>Figure out how you can afford to borrow</b></li>
  <p class="lets_decide_p line_spacing">Calculated so you have cash left over after
     expenses in case of emergencies and save for the future.</p>
</ol>
<div class="center">
  <h4>We&#39;ll do both!</h4>
  <p class="blue_text"><b>Get Ready to Answer 5 Easy Questions</b></p>
  <%= image_tag 'Desi-papers-transparent.png', size: "250x200",
                class: "img-responsive center-block" %>
</div>

<div class="nav-btns">
  <%= link_to "BACK", decisions_path, class: "left_nav_btn btn btn-info" %>
  <%= link_to "NEXT",
      decision_variable_path(decision_id: @decision.id, id: @variable.id),
      class: "right_nav_btn btn btn-info" %>
</div>
<br>
<br>
