<span class='icon-back' role='goto-link' href='<%= prevStep %>'></span>
<div id='different-decisions-screen' class='wrapper'>
  <h1>
    What do different<br/>decisions look like?
    <span class="icon ask-desi" data-desi='says' data-content="different_decisions"></span>
  </h1>
  <div class='wrapper-container'>
    <p class='text-center'>
      Your choices today will have a big effect on your retirement security.
    </p>

    <div class='panel panel-wide'>
      <h3 class='text-center'>What if you change<br/><%= data.title %>?</h3>
      <svg width="100%">
      </svg>
    </div>

    <p class='text-right'>
      <button class='blue-button' id='next-btn' role='goto-link' href='<%= nextStep %>'>NEXT</button>
    </p>
  </div>
</div>
