<span class='icon-back' role='goto-link' href='<%= prevStep %>'></span>
<div id='different-decisions-screen' class='wrapper'>
  <h1>
    A quick note about<br/>the future…
    <span class="icon ask-desi" data-desi='says' data-content="different_decisions_quick_note"></span>
  </h1>
  <div class='wrapper-container'>
    <p class='text-center'>
      What if investment returns are lower or higher?
    </p>

    <div class='panel panel-wide'>
      <h3 class='text-center'>What if investment returns are different than expected?</h3>
      <svg width="100%">
      </svg>
    </div>

    <p class='text-right'>
      <button class='blue-button' id='next-btn' role='goto-link' href='<%= nextStep %>'>NEXT</button>
    </p>
  </div>
</div>
