<div class='form-group'>
  <label>Birth year for child #<span role='child-index'><%= index %></span></label>
  <span role='remove-child' class="icon-cross"></span>
  <input name='year' type='text' data-index='<%= index %>' value='<%= year %>'/>
</div>