<div id='family-screen'>
  <span class='icon-back' role='goto-link' href='/future_intro'></span>
  <div class='wrapper'>
    <h1>Tell me a bit about<br/>who's in your home</h1>
    <div class='wrapper-container'>
      <p class='text-center'>Whose futures are we planning?</p>
      <p class='row-with-btn'>Adult <span role='add-adult' class='icon-plus'></span></p>
      <div role='adults'>
      </div>
      <p class='row-with-btn'>Child <span role='add-child' class='icon-plus'></span><span class="icon ask-desi" data-desi='says' data-content="family_children"></span></p>
      <div role='children'>
        <div class='panel'>
        </div>
      </div>
      <br/>
      <p class='wide-row text-right'>
        <button  id='next-btn' class='blue-button' role='goto-link' href='/finance_details/cash' disabled>NEXT</button>
      </p>
    </div>
  </div>
</div>
