<div id="sex-modal" class="modal simple-modal select-modal">
  <div class="modal-dialog animated">
    <div class="modal-content">
      <div class="modal-body">
        <p tabIndex=10 class='sex-option'>Male</p>
        <p tabIndex=11 class='sex-option'>Female</p>
        <p tabIndex=12 class='sex-option'>Other</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-gray" role='close-modal'>CANCEL</button>
        <button class="btn" role='submit-modal'>OK</button>
      </div>
    </div>
  </div>
</div>