<div id='ideas-give-screen' %>
  <span class='icon-back' role='goto-link' href='/ideas'></span>
  <div class='wrapper'>
    <h1>Great idea. Thanks!</h1>

    <div class='wrapper-container'>
      <br/>
      <div class='ask-fish'></div>
      <br/>
      <p class='wide-row'>Would you like to get an idea?</p>
      <br/>
      <p class='justified-footer wide-row'>
        <button class='blue-button' role='goto-link' href='/budget_spend'>NO THANKS</button>
        <button class='blue-button' role='goto-link' href='/ideas_get'>GET IDEA</button>
      </p>
    </div>
  </div>

</div>