<div id='ideas-select-screen' %>
  <span class='icon-back' role='goto-back' data-safe-path='budget_spend'></span>
  <div class='wrapper'>
    <h1>Choose a Need</h1>

    <div class='wrapper-container'>
      <p class='text-center'>Which need should the idea help satisfy?</p>
      <div class='squares-container'>
        <div class='square square-disabled' data-need='basics'>
          <span class='insquare-icon icon-basics'></span>
          <span class='menu-text'>Basics</span>
        </div>
        <div class='square square-disabled' data-need='love'>
          <span class='insquare-icon icon-love'></span>
          <span class='menu-text'>Love & Friendship</span>
        </div>
      </div>

      <div class='squares-container squares-container-wide'>
        <div class='square square-disabled' data-need='expert'>
          <span class='insquare-icon icon-expert'></span>
          <span class='menu-text'>Being Good at Something</span>
        </div>
        <div class='square square-disabled' data-need='control'>
          <span class='insquare-icon icon-helm'></span>
          <span class='menu-text'>In Control Of Your Life</span>
        </div>
        <div class='square square-disabled' data-need='helping'>
          <span class='insquare-icon icon-ribbon'></span>
          <span class='menu-text'>Helping Others</span>
        </div>
      </div>

      <div class='squares-container'>
        <div class='square square-disabled' data-need='fun'>
          <span class='insquare-icon icon-kite'></span>
          <span class='menu-text'>Leisure & Fun</span>
        </div>
        <div class='square square-disabled' data-need='respect'>
          <span class='insquare-icon icon-handshake'></span>
          <span class='menu-text'>Respect & Pride</span>
        </div>
      </div>

      <p class='justified-footer wide-row'>
        <button class='blue-button' role='goto-link' href='/ideas_give'>GIVE AN IDEA</button>
        <button class='blue-button' role='goto-link' href='/ideas_get'>GET AN IDEA</button>
      </p>
    </div>
  </div>

</div>