<div id='ideas-give-screen' %>
  <span class='icon-back' role='goto-link' href='/ideas'></span>
  <div class='wrapper'>
    <h1>Give an Idea</h1>

    <div class='wrapper-container'>
      <p class='wide-row'>My idea…</p>
      <br/>
      <div class='form-group form-group-horizontal wide-row'>
        <label>
          <input type='checkbox' class='checkbox' name='saves_money_2' data-value='2'/>
          Makes money
        </label>
      </div>

      <div class='form-group form-group-horizontal wide-row'>
        <label>
          <input type='checkbox' class='checkbox' name='saves_money_1' data-value='1'/>
          Saves money
        </label>
      </div>

      <div class='form-group form-group-horizontal wide-row'>
        <label>
          <input type='checkbox' class='checkbox' checked name='saves_money_0' data-value='0'/>
          Costs nothing
        </label>
      </div>

      <div class='panel wide-row'>
        <div contenteditable="" placeholder="Here is my idea:"></div>
      </div>

      <p class='justified-footer wide-row'>
        <button class='blue-button' id='submit-btn'>POST</button>
      </p>
    </div>
  </div>

</div>