<div id='ideas-get-screen' %>
  <span class='icon-back' role='goto-link' href='/ideas'></span>
  <div class='wrapper'>
    <h1>Here is an idea</h1>

    <div class='wrapper-container'>
      <p class='wide-row'>That <%= saves_money == 2 ? 'makes money' : saves_money == 1 ? 'saves money' : 'costs nothing' %></p>
      <div class='panel wide-row'>
        <p><%= content %></p>
        <br/>
        <p class='text-right'><i><%= user %></i></p>
      </div>
      <p class='flexed wide-row'>
        <% if (App.authorized) { %>
          <span class='flexed like-idea'><span class='icon-like'></span>&nbsp;Like</span>
        <% } %>

        <span class='flexed report-idea'><span class='icon-report'></span>&nbsp;Report</span>
      </p>
      <div class='img-get-idea'></div>
      <p class='wide-row'>To get more ideas…</p>
      <br/>
      <p class='justified-footer wide-row'>
        <button class='blue-button' role='goto-link' href='/budget_spend'>NO THANKS</button>
        <button class='blue-button' role='goto-link' href='/ideas_give'>GIVE IDEA</button>
      </p>
    </div>
  </div>

</div>