<div id='menu-screen' %>
  <span class='icon-back' role='goto-back' data-safe-path='hello'></span>
  <div class='wrapper'>
    <h1>Let's begin!</h1>

    <div class='squares-container'>
      <div class='square' data-menu='future'>
        <span class='insquare-icon icon-magic-sphere'></span>
        <span class='menu-text'>Retirement</span>
      </div>
      <div class='square square-disabled' data-menu='budget'>
        <span class='insquare-icon icon-budget'></span>
        <span class='menu-text'>Budget</span>
      </div>
      <div class='square square-disabled' data-menu='savings'>
        <span class='insquare-icon icon-piggy-bank'></span>
        <span class='menu-text'>Saving</span>
      </div>

      <div class='square square-disabled'>
        <span class='insquare-icon icon-home'></span>
        <span class='menu-text'>Home</span>
      </div>
      <div class='square square-disabled'>
        <span class='insquare-icon icon-career'></span>
        <span class='menu-text'>Career</span>
      </div>
      <div class='square square-disabled'>
        <span class='insquare-icon icon-student'></span>
        <span class='menu-text'>Student loans</span>
      </div>

      <div class='square square-disabled'>
        <span class='insquare-icon icon-umbrella'></span>
        <span class='menu-text'>Insure</span>
      </div>
      <div class='square square-disabled'>
        <span class='insquare-icon icon-car'></span>
        <span class='menu-text'>Auto</span>
      </div>
      <div class='square square-disabled'>
        <span class='insquare-icon icon-gift'></span>
        <span class='menu-text'>Give</span>
      </div>
    </div>
  </div>
  <div class='menu-bottom'>
    <div class='footer-content'>
      <div class='footer-fish'></div>
      <div class='footer-ask text-center'>
        <p>Another Decision?<br/>Ask me anything!<br/></p>
        <p>
          <button class='green-button' role='goto-link' href='/ask'>ASK</button>
        </p>
      </div>

    </div>
  </div>

</div>