<div class='form-group form-group-horizontal' data-id='<%= guid %>'>
  <label style='flex-basis: 40%;'><%= bank %></label>
  <span class='static-number' style='flex-basis: 45%;'><%= status %></span>
  <span role='remove-connect' style='position: relative; top: auto; right: auto;' class="icon-cross"></span>
</div>