<div id='import-screen'>
  <span class='icon-back' role='goto-back'></span>
  <div class='wrapper'>
    <h1>Import</h1>
    <div class='wrapper-container'>

      <div class='panel wide-row'>
        <div role='connections'>
          <div class='form-group'>
            <h3 style='margin-bottom: 0;'>
              <span class='panel-col1'>Bank</span>
              <span class='panel-col2'>Connection</span>
            </h3>
          </div>
        </div>
        <br/>
        <div class='form-group'><h3 style='margin-bottom: 0;'>Add connection</h3></div>
        <div id='add-account'></div>
      </div>

      <p class='justified-footer wide-row'>
        <button class='blue-button' id='save-btn'>SAVE</button>
      </p>

    </div>
  </div>
</div>
