<div id='import-screen'>
  <span class='icon-back' role='goto-back'></span>
  <div class='wrapper'>
    <h1>Let's get connected<br/>to your banks!<br/><span class="icon ask-desi" data-desi="says" data-content="import"></span></h1>
    <div class='wrapper-container'>
      <p class='text-center'>
        Set your connections below so I can get and analyze your spending and balances and you can make better decisions.
      </p>
      <div class='panel panel-wide'>
        <div role='connections'>
          <div class='form-group'>
            <h3 style='margin-bottom: 0;'>
              <span class='panel-col1'>Bank</span>
              <span class='panel-col2'>Connection</span>
            </h3>
          </div>
        </div>
        <br/>
        <div class='flexed'>
          <span class='img-noun-padlock'></span>
          <span>I never see or keep your bank passwords. Please see my <a href='http://decisionfish.com/security-policy' target='_blank'>Security Policy</a> to learn more.</span>
        </div>
        <div class='form-group'><h3 style='margin-bottom: 0;'>Add connection</h3></div>
        <div id='add-account'></div>
      </div>

      <p class='justified-footer wide-row'>
        <button class='blue-button' id='save-btn'>SAVE</button>
      </p>

    </div>
  </div>
</div>
