<div class="center">
  <h4><b>Hi! I&#39;m DESI, the Decision Fish.</b></h4>
  <p>I&#39;m on your side to help you make better
     financial decisions, with confidence.</p>
  <%= image_tag "desi-upgrade-transparent no upgrade.png", size: "150x100",
                class: "img-responsive center-block" %>
  <p class="line_spacing">Deciding how much you can afford to spend on a new home?
     Rent or buy? How to save for retirement?
     I can help you with these&nbsp;and&nbsp;other&nbsp;decisions.</p>
</div>

<div class="nav-btns">
  <%= link_to "BACK", "/pages/welcome", class: "left_nav_btn btn btn-info" %>
  <%= link_to "NEXT", decisions_path, class: "right_nav_btn btn btn-info" %>
</div>
<br>
<br>
