<h4 class="center"><b>Welcome to DecisionFish.com!</b></h4>
<h4 class="blue_text center"><b>Empowering you to make decisions</b></h4>
<div class="home_img">
  <%= image_tag "Logo.png", size: "300x150", class: "img-responsive center-block" %>
</div>
<br>
<br>
<h5 class="blue_text center">What makes us different?</h5>

<ul id="welcome_ul">
  <li class="welcome_list_item">Simple and easy, step-by-step, decision-making help</li>
  <li class="welcome_list_item">The founder&#39;s Wall Street experience &amp; techniques</li>
  <li class="welcome_list_item">FREE to use: upgrade to do more</li>
  <li class="welcome_list_item" id="no_conflicts_list_item" data-toggle="tooltip" data-placement="bottom" data-container="body" title="Decision Fish relies on 'Pro' subscriptions, affiliate fees and partnerships with companies whose interests are aligned with yours. We will never sell your information without your permission.">No conflicts: we accept no money from banks &amp; lenders</li>
</ul>

<div class="nav-btns">
  <!-- <%= link_to "RESET", "#", class: "left_nav_btn" %> -->
  <%= link_to "NEXT", "/pages/desi", class: "right_nav_btn btn btn-info" %>
</div>
<br>
<br>
