<div class='form-group form-group-horizontal' data-index='<%= index %>'>
  <input type='text' name='label' value='<%= label %>'/>
  <input class='number-field' type='text' name='balance' value='<%= balance %>'/>
  <input class='number-field' type='text' name='rate' value='<%= rate %>'/>
  <span style='flex-basis: 15%;'></span>
  <span role='remove-loan' class="icon-cross"></span>
</div>