<span class='icon-back' role='goto-link' href='/future_history/conclusion'></span>
<div id='projected-net-worth-screen' class='wrapper'>
  <h1>Here's my long-term<br/>financial forecast for you</h1>
  <div class='wrapper-container'>
    <p class='text-center'>
      <span>Your net worth measures all of your<br>financial resources.</span>
    </p>
    <h2 class="flexed" style="justify-content: space-around;">Projected Net Worth <span class="icon ask-desi" data-desi='says' data-content="projected_net_worth"></span></h2>

    <div class='panel panel-wide'>
      <div class='img-flag' role='finish-life'></div>
      <svg width="100%">
      </svg>
    </div>

    <p class='text-right'>
      <button class='blue-button' id='next-btn' role='goto-link' href='/different_decisions/monthly_savings'>NEXT</button>
    </p>
  </div>
</div>
