$dark-blue: #2E3192;
$ddark-blue: #23245F;
$light-blue: #eaeaf3;
$disabled-button-normal: #9798c9;
$llight-blue: #e6e7f8;
$green: #0db09d;
$orange: #f76f4c;
$button-green: $green;
$dark-button-green: #34736c;
$disabled-button-green: #86d8ce;
$screen-sm: 768px;
$text-color: #464654; // rgba(70,70,84, 100)
$mid-text-color: #c3c3c6; // rgba($text-color, 70%);
$light-text-color: #a8a8ad;// rgba($text-color, 40%);
$red: #ff3400;
$light-green: rgb(243, 253, 252);
$bg-color: #fafbff;
$screen-xs: 320px;
