<span class='icon-back' role='goto-link' href='/savings_final'></span>
<div class='wrapper'>
  <h1>Yay, You!</h1>
  <div class='wrapper-container'>
    <p class='text-center'>You completed the first three chapters!</p>

    <br>
    <p class='text-center'>
      <span class='img-fish-happy'></span>
    </p>
    <br>
    <p>Come back frequently to:</p>
    <ul class='dashed'>
      <li class='flexed flexed-start no-margin'>
        <span>
          <a href="#" id="goto_dashboard">Check your Financial Wellness Dashboard</a>
          <small class='hidden loading-indicator'><br>Please wait a sec. I'm getting your data.</small>
        </span>
        &nbsp;
        <span class="icon-question" title="See how you much your spending, saving and improving your financial wellness."></span>
      </li>
      <li class='flexed flexed-start no-margin'>
        <a role='goto-link' href="/savings_loans/credit_cards">Put your monthly savings to work</a>&nbsp;
        <span class="icon-question" title="Time to pay credit cards, loans and make investments? Figure out where to best put your savings."></span>
      </li>
      <li class='flexed flexed-start no-margin'>
        <a role='goto-link' href="/ideas">Give and get ideas</a>&nbsp;
        <span class="icon-question" title="Go here if you want to give or get a good idea for saving or spending money."></span>
      </li>
      <li class='flexed flexed-start no-margin'>
        <a role='goto-link' href="/ask">Ask me anything</a>&nbsp;
        <span class="icon-question" title="Drop me a line if you want help with a specific decision, have a suggestion, or have a good fish joke!"></span>
      </li>
      <li class='flexed flexed-start no-margin'>
        <a role='goto-link' href="/menu">Revisit a chapter</a>&nbsp;
        <span class="icon-question" title="Go back and review or change your retirement, budget or savings plans."></span>
      </li>
    </ul>
    <br>

    <p>When should I remind you to come back?</p>
    <div class='text-center'><div id="reminder-placeholder"></div></div>
    <br>

    <p>See you soon!</p>
    <br>
    <p class='text-right'>
      <a class='button blue-button' href='http://www.decisionfish.com/'>CLOSE</a>
    </p>
  </div>
</div>
