<span class='icon-back' role='goto-link' href='/budget_meet_plans'></span>
<div class='wrapper'>
  <h1>Can Money Buy<br/>Happiness?</h1>

  <div class='wrapper-container'>
    <p class='text-center'>
      Let's figure out if we can reallocate your spending to meet more of your needs!
    </p>
    <p>
      Are there some needs that are more important than others?
      <br/><br/>
      There are no right or wrong answers, so be honest with yourself. Think about ways to meet your needs without money.
    </p>
    <p class='text-center'><span class='img-fish-budget-happy'></span></p>

    <p class='text-right'>
      <button class='blue-button' role='goto-link' href='/budget_walkthrough/basics'>NEXT</button>
    </p>
  </div>
</div>
