<div id="diploma" class='wide-row'>
  <div class='diploma-roof'></div>
  <div class='diploma-outer-frame'>
    <div class='diploma-container'>

      <div id='diploma-inner-placeholder'></div>

      <div class='diploma-stamp'></div>

    </div>
  </div>
  <div class='diploma-footer'></div>
</div>