<span class='icon-back' role='goto-link' href='/future_intro'></span>
<div class='wrapper'>
  <h1>Here's what we'll need,<br/>if you want to be<br/> precise:</h1>
  <div class='wrapper-container'>
    <!--<p class='text-center'>Let's gather some information</p>-->
    <ul>
      <li>Paycheck(s)</li>
      <li>Mortgage, loan and credit card statements</li>
      <li>Bank and investment statements</li>
    </ul>

    <p>
      It's OK if you don't have all of this ready now. Answer my questions as best as you can; you may change your answers later.
    </p>

    <p class='text-center'><span class='img-fish-with-papers'></span></p>

    <p class='text-right'>
      <button class='blue-button' role='goto-link' href='/family'>NEXT</button>
    </p>
  </div>
</div>
