What is your email address? I need this to keep track of and find your work. I promise: no spam.
<br/><br/>
<input type='email' name='email_modal' class='form-control'/>
<span class='error-msg'></span>