
  <span class='icon-back' role='goto-link' href='/savings_congratulations'></span>
  <div class='wrapper'>
    <h1>Welcome Back!</h1>
    <div class='wrapper-container'>
      <p class='text-center'>Let’s continue on the path to Financial Wellness:</p>
      <p class='final-row'>
        <button class='button blue-button' id="goto_dashboard">
          SEE YOUR DASHBOARD
          <small class='hidden loading-indicator'><br>Please, wait. Data is loading…</small>
        </button>
        <span class='icon ask-desi inline' data-desi='says' data-content="welcome_back_dashboard"></span>

      </p>

      <p class='final-row'>
        <button class='blue-button' role='goto-link' href='/savings_loans/credit_cards'>PUT YOUR MONTHLY SAVINGS TO WORK</button>
        <span class='icon ask-desi inline' data-desi='says' data-content="welcome_back_savings"></span>
      </p>

      <p class='final-row'>
        <button class='blue-button' role='goto-link' href='/ideas'>GIVE & GET IDEAS</button>
        <span class='icon ask-desi inline' data-desi='says' data-content="welcome_back_ideas"></span>
      </p>

      <p class='final-row'>
        <button class='blue-button' role='goto-link' href='/ask'>ASK ME ANYTHING</button>
        <span class='icon ask-desi inline' data-desi='says' data-content="welcome_back_ask"></span>
      </p>

      <p class='final-row'>
        <button class='blue-button' role='goto-link' href='/menu'>REVISIT A CHAPTER</button>
        <span class='icon ask-desi inline' data-desi='says' data-content="welcome_back_revisit"></span>
      </p>

      <br/>

      <p class='text-center'>
        <span class='on-panel-image img-retirement-savings'></span>
      </p>

    </div>

  </div>