<h3>I used <span style="color: #2E3192">www.DecisionFish.com</span> to decide how much I can afford to spend on a new home.<h3>
<h3>My decision: <%= number_to_currency(@my_decision, precision: 0) %>. Yay, me!</h3>
