<div class='form-group active flexed reminder-container'>
  <input type='text' id='reminder-input' value="<%= initial ? initial : '' %>" placeholder='Never' class='<%= hasDate ? "" : "compact" %>'/>&nbsp;
  <span class='reminder-btn reminder-calendar'>&#x1F4C5;</span>
  <span class='reminder-btn reminder-reset'>&times;</span>
</div>
