<div id='budget-expenses-screen'>
  <span class='icon-back' role='goto-link' href='/budget'></span>
  <div class='wrapper'>
    <h1>
      How Do You Think You<br/>Should Spend Your Money
    </h1>
    <div class='wrapper-container'>
       <div class='retirement-safety-row wide-row hidden' role='safe-state'>
        <span class='img-fish-retirement-safe'></span>
        <span>
          <span class='success-msg'>Balanced Budget</span>
          <br/>
          Good job!
        </span>
        <span></span>
      </div>
      <div class='retirement-safety-row wide-row' role='unsafe-state'>
        <span class='img-fish-retirement-unsafe'></span>
        <span class='text-center'>
          <span>I see that your take-home pay is <span role='take-home-pay'></span>. Tell me how you'd like to be spending it in each category, monthly, on average.</span>
          <br/><br/>
          <span class='error-msg text-center'></span>
        </span>
      </div>

      <div class='panel panel-wide'>
        <div class='form-group form-group-horizontal'>
          <h3>
            <span>Category</span>
            <span>Monthly Spending</span>
          </h3>
        </div>
        <div class='scrollable-area'>
        <% _.each(fields, (attrs, field) => {%>
          <div class='form-group form-group-horizontal'>
            <div class='label-group'>
            <% if (field == 'fun'){ %>
              <label class='selectable'>
                <span role='fun-need-select'></span>
              </label>
            <% } else { %>
              <label>
                <%= attrs.title %>
              </label>
            <% } %>
              <span class='icon-question' title="<%= this.model.getHint(field) %>"></span>

            </div>
            <span>
              <span class='icon-arrow-down' role='decrease'></span><span class='icon-arrow-up' role='increase'></span>
            </span>
            <input type='text' role='expense-field' name='<%= field %>' data-type="<%= attrs.type %>"/>
          </div>
        <% }) %>
        <hr/>
        <div class='form-group form-group-horizontal'>
          <label>Total</label>
          <span class='static-number' role='total-amount'></span>
        </div>
        </div>
      </div>

      <p class='justified-footer wide-row'>
        <button class='blue-button' id='next-btn' role='goto-link' href='/budget_meet_plans'>NEXT</button>
      </p>
    </div>
  </div>

</div>