<div id='<%= containerId %>'>
  <span class='icon-back' role='goto-link' href='/budget_tracking'></span>
  <div class='wrapper'>
    <h1>Let's make your Happy<br/>Budget<sup>®</sup> plan happen!</h1>
    <div class='wrapper-container'>
      <p class='text-center'>What do you want to do next to make your budget plan real?</p>

      <p class='final-row'>
        <button class='blue-button' role='share-plan'>SHARE YOUR PLAN</button>
        <span class='icon ask-desi inline' data-desi='says' data-content="budget_final_share"></span>
      </p>

      <!--<p class='final-row'>
        <button class='blue-button ask-desi' data-desi='says' data-content="tracking_app">TRANSFER YOUR BUDGET TO TRACKING APP</button>
      </p>-->

      <p class='final-row'>
        <button class='blue-button' role='goto-link' href='/savings_intro'>MAKE MONEY WITH YOUR MONEY</button>
        <span class='icon ask-desi inline' data-desi='says' data-content="budget_final_money"></span>
      </p>

      <!--<p class='final-row'>
        <button class='blue-button ask-desi' data-desi='says' data-content='enter_next_step'>ENTER YOUR OWN NEXT STEP</button>
        </p> -->

      <p class='final-row'>
        <button class='blue-button' role='goto-link' href='/ask'>ASK DECISION FISH A QUESTION</button>
      </p>
    </div>

    <div id="diploma-placeholder" style='opacity: 0;' class='wrapper-container'></div>
  </div>
</div>