<span class='icon-back' role='goto-link' href='/budget_congratulations'></span>
<div id='budget-tracking-screen' class='wrapper'>
  <h1>New! I can help you<br/>track your spending</h1>

  <div class='wrapper-container'>
    <p class='text-center'>
      Timely email reminders will help you succeed with your budget
    </p>
    <div class='panel panel-wide'>
      <h3 style='display: flex; align-items: center;'>
        Who
        &nbsp;
        <span class='icon ask-desi inline' data-desi='says' data-content="budget_tracking"></span>
      </h3>
      <div class='form-group form-group-horizontal'>
        <label>
          <input type='checkbox' disabled class='checkbox' checked name='who_0'/>
          Just you
        </label>
      </div>
      <div class='form-group form-group-horizontal'>
        <label>
          <input type='checkbox' class='checkbox' name='who_1'/>
          Also, a family/friend (recommended)
        </label>
      </div>
      <br/>
      <div class='form-group form-group-horizontal'><h3>When</h3></div>
      <div class='form-group form-group-horizontal'>
        <label>
          <input type='checkbox' class='checkbox when-check' name='when_1'/>
          Daily
        </label>
      </div>
      <div class='form-group form-group-horizontal'>
        <label>
          <input type='checkbox' class='checkbox when-check' name='when_2'/>
          Weekly
        </label>
      </div>
      <div class='form-group form-group-horizontal'>
        <label>
          <input type='checkbox' class='checkbox when-check' name='when_3'/>
          Monthly
        </label>
      </div>
      <div class='form-group form-group-horizontal'>
        <label>
          <input type='checkbox' class='checkbox when-check' name='when_4'/>
          When you may be over-spending
        </label>
      </div>
    </div>

    <p class='justified-footer'>
      <button class='blue-button' role='goto-link' id="next-btn" href='/budget_final'>NEXT</button>
    </p>
  </div>
</div>
